* {
  box-sizing: border-box;
}

body {
  background-color: #ffc0cb;
  color: darkred;
}

header, footer {
  background-color: darkred;
}

header, h3, footer {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

header h2, footer, .about, nav li, .content {
  padding: 5px;
}


h2, footer, a {
  color: white;
}


nav ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav li:hover {
  background-color: red;
}

img {
  display: block;
  margin: auto;
  width: 95%;
  height: auto;
}

.about, .content {
  background-color: rgba(255, 255, 255, 60%);
}

.about p {
  text-indent: 40px;
}

.about img {
  float: left;
  width: 33%;
  padding-right: 5px;
}

.about p {
  overflow: hidden;
}

footer {
  clear: both;
}

.row, .row > .column {
  padding: 5px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .about img {
    float: none;
    width: 95%
  }
}